@import 'design-system/reset'
@import 'design-system/colors'

.app
  background dark
  min-width 100vw
  min-height 100vh

  &__logo
    color light
    top 50%
    left 50%
    transform translatex(-50%)
    position absolute
    text-transform uppercase